<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>273113374416-icd2f8icuvt55idmlfcrjcebmdj0ko53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273113374416-icd2f8icuvt55idmlfcrjcebmdj0ko53</string>
	<key>API_KEY</key>
	<string>AIzaSyAsNiONUUsgJA_qfoChgQ3ry7htNqEFsgk</string>
	<key>GCM_SENDER_ID</key>
	<string>273113374416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuschat</string>
	<key>PROJECT_ID</key>
	<string>nuschat-8be74</string>
	<key>STORAGE_BUCKET</key>
	<string>nuschat-8be74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:273113374416:ios:003378a9ab323ec9</string>
	<key>DATABASE_URL</key>
	<string>https://nuschat-8be74.firebaseio.com</string>
</dict>
</plist>